displayHomePage = testController->testing
uploadFile = UploadController.UploadController->uploadFile
login = ForumApp.ReadController->checkUserAnsShowField
showTopics = ForumApp.ReadController->viewTopics
showPosts = ForumApp.ReadController->viewPosts
user = ForumApp.ReadController->viewUser
like = ForumApp.WriteController->like
writeComment = ForumApp.WriteController->writeComment
signup   = ForumApp.WriteController->writeUser
addfield = ForumApp.WriteController->writeField
reply = ForumApp.ReadController->reply
doReply = ForumApp.WriteController->writeReply
addtopic = ForumApp.WriteController->writeTopic
addpost  = ForumApp.WriteController->writePost
viewPost = ForumApp.ReadController->viewPost
likePost = ForumApp.WriteController->likePost
